<!DOCTYPE html>
<html>
    <head>
        <title>Login page</title>
    </head>
<body>
    <form name="frm" action="/validate" method="post">
        <input type="text" name="name" value="" style="width: 400px;height: 40px;"/><br><br>
        <input type="text" name="pass" value="" style="width: 400px;height: 40px;"/><br><br>
        <input type="submit" name="s" value="Login" style="width: 400px;height: 40px;"/>
    </form>
</body>    
</html>