<!DOCTYPE HTML>
<HTML>
<HEAD>
    <title>Document</title>
</HEAD>
<body>
    <%- include("navbar.ejs")%>
    
   <!-- <h1> Name is <%=name%></h1>-->
    <% 
    for(var i=1;i<=10;i++)
    {
    %>
    <h1><%=i%></h1>
    <%
    }
    %>

</body>

</HTML>