<html>
    <head>
        <title>login page</title>
    </head>
<body>
    <form name="frm" action="/save" method="post">
        <input type="text" name="user" value=""/>
        <input type="text" name="pass" value=""/>
        <input type="submit" name="s" value="Login"/>
    </form>
    <%=msg%>
</body>
</html>