<html>
    <head>
        <title>Document</title>
<link rel="stylesheet" href="style.css"/>
    </head>
    <body>
        <form name="frm" action="/printtab" method="post">
      <input type="text" name="num" value=""/><br><br>
      <input type="submit"name="s" value="print"/>
    </form>
    <table width:80px; border="5">
        <tr>
            <th>Itreation</th><th>X</th><th>Number</th><th>=</th><th>Result</th>
        </tr>
        <%
        if(no!=0){
         for(var i=1; i<=10;i++)
         {
        %>
        <tr align="center">
            <td><%=i%></td>
            <td>X</td>
            <td><%=i*no%></td>
            <td>=</td>
            <td><%=i*no%></td>
        </tr>
        <%
        }
         }
        %>

    </table>
    </body>
</html>